.current-weather {
  /* background: linear-gradient(45deg, rgb(211, 94, 76),rgb(154, 222, 239)); */
  background-color: #f0ece2;
  border-radius: 8px;
  padding: 20px;
  margin-top: 0px;
  text-align: center;
}

.current-weather h2 {
  margin-top: 0;
  color: #515151;
}

.weather-icon img {
  width: 100px;
  height: 100px;
}

.temperature {
  margin: 20px 0;
}

.current-temp {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 24px;
  color: #666;
  text-transform: capitalize;
}

.details {
  max-height:0;
  opacity:0;
  transition: max-height 1s ease-out, opacity 1s ease-out;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.details p {
  margin: 10px 0;
}

.more-info-button{
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: padding 0.25s ease-out;
}

.more-info-button:hover{
  padding: 16px;
}

.show{
  opacity: 1;
  max-height: 300px;
}
